<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employeename %><br>
    <%= f.text_field :employeename %>
  </div>
  <div class="field">
    <%= f.label :customername %><br>
    <%= f.text_field :customername %>
  </div>
  <div class="field">
    <%= f.label :memo %><br>
    <%= f.text_area :memo %>
  </div>
  <div class="field">
    <%= f.label :visited %><br>
    <%= f.date_select :visited %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
