<p id="notice"><%= notice %></p>

<p>
  <strong>Employeename:</strong>
  <%= @customer.employeename %>
</p>

<p>
  <strong>Customername:</strong>
  <%= @customer.customername %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @customer.memo %>
</p>

<p>
  <strong>Visited:</strong>
  <%= @customer.visited %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
